<div class="powr-banner-slider" id="4b798d20_1572602918"></div> {% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
{{ collection.title }}
{% assign collection_handle = "collection-" | append: collection.handle %}
<ul>
  {% for link in linklists[collection_handle].links %}
   {% assign sub_collection = link.object %}
   <li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {% endfor %}
</ul>
